.header {
  font-family: Georgia;
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  margin-top: 40rem;
  text-align: center;
}
img {
  width: 14rem;
  margin: 0.1rem 0 -0.2rem 0.2rem;
}

body {
  background: url('/static/images/game-of-thrones.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
